*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

 table {
   border-collapse: collapse;
   border-spacing: 0px;
   border: 1px solid #029ACF;
   margin: auto;
}

body {
  font-family:Arial,Helvetica;
}

h1 {
  text-align: center;
  color: #666666;
}

table, th, td {
  border-bottom: 1px solid #029ACF;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

.title {
  background-color: #029ACF;
  color: white;
}

th {
  font-weight: 100;
}

.list:nth-child(odd) {
  background-color: lightgrey;
}

.list {
  color: #333333;
}

td > .movie {
  font-weight: bolder;
}
